<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/article.css">
    </head>
    <body>
        <div class="article">
            <div class="product">
                <a href="https://www.nike.com/es/t/blazer-mid-77-vintage-zapatillas-pMfjs8/BQ6806-100">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_300,c_limit/389b709e-5102-4e55-aa5d-07099b500831/blazer-mid-77-vintage-zapatillas-pMfjs8.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike Blazer Mid '77 Vintage</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Hombre</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">99,99&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="https://www.nike.com/es/t/blazer-mid-77-vintage-zapatillas-pMfjs8/BQ6806-100">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div " data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_300,c_limit/389b709e-5102-4e55-aa5d-07099b500831/blazer-mid-77-vintage-zapatillas-pMfjs8.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike Blazer Mid '77 Vintage</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Hombre</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">99,99&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="https://www.nike.com/es/t/blazer-mid-77-vintage-zapatillas-pMfjs8/BQ6806-100">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div  data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_300,c_limit/389b709e-5102-4e55-aa5d-07099b500831/blazer-mid-77-vintage-zapatillas-pMfjs8.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike Blazer Mid '77 Vintage</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Hombre</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">99,99&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
        </div>
    </body>
<html>

