<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/article.css">
    </head>
    <body>
        <div class="article">
            <div class="product">
                <a href="https://www.nike.com/es/t/blazer-mid-77-vintage-zapatillas-pMfjs8/BQ6806-100">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_300,c_limit/389b709e-5102-4e55-aa5d-07099b500831/blazer-mid-77-vintage-zapatillas-pMfjs8.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike Blazer Mid '77 Vintage</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Skateboard</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">99,99&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div  data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/4da9715f-acf1-4362-a77e-0384480d3168/sb-zoom-verona-slip-leo-baker-zapatillas-de-skateboard-fpxb86.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike SB Zoom Verona Slip x Leo Baker</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Skateboard</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">79,99&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div  data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/f12bb2d1-c009-4d2c-a3e2-8feabce82ffb/sb-shane-zapatillas-de-skateboard-h2fwdd.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 style="color:black;" class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike SB Shane</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Skateboard</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">79,99&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
           <div class="product">
                <a href="#">
                    <div data-qa="image-wrapper" class="_363pyMxS _1J1k7Sv3 media-container css-1xufqsp">
                        <div  data-qa="image-media">
                            <img data-qa="image-media-img" alt="Zapatillas - Hombre" class="_3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/74a765d6-048f-4658-a0b3-e4960275c252/sb-zoom-blazer-mid-zapatillas-de-skateboard-lXCNFB.png">
                            </div>
                        </div>
                        <div class="YRiqJvKc ubdD2XxV ta-sm-l">
                            <div>
                                <h4 style="color:black;"  class="body-2 _1S3--jXk" data-qa="product-slide-title">Nike SB Zoom Blazer Mid Premium</h4>
                                <p class="body-2 text-color-secondary _2LjqmQB3" data-qa="product-slide-subtitle">Zapatillas - Skateboard</p>
                            </div>
                            <p class="text-color-secondary body-2 _1WN227IR">
                                <span class="price css-1uihcua ew71yvl1" data-version="@nike/nr-sole-price@3.0.3">53,96&nbsp;€</span>
                            </p>
                    </div>
                </a>
            </div>
        </div>
    </body>
<html>

