<!DOCTYPE html>
<html>
<body>

<h2>AJuda </h2>

<p>Escriu-nos a continuació el problema o la pregunta que tens...</p>

<form action="/action_page.php">
  <textarea name="message" style="width:200px; height:600px;">Escriu aquí...</textarea>
  <br>
  <input type="submit">
</form>

</body>
</html>
