<!DOCTYPE html>
<html>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 style=" text-align: center; ">AJuda </h2>

<p style=" text-align: center; ">Escriu-nos a continuació el problema o la pregunta que tens...</p>

<div style="display:flex;  align-items: center;  justify-content: center; width:100%;">
	<form action="/action_page.php">
  <textarea name="message"style=" width: 80%;  height:600px;">Escriu aquí...</textarea>
  <br>
  <input type="submit">
</form>

</body>
</html>
