<!DOCTYPE html>
<html>
<body>

<h2>Styling Textarea</h2>

<p>Use CSS to change the size of the textarea:</p>

<div style="margin: auto;
  width: 100%;
  border: 0px solid green;
  padding: 10px;">
	<form action="/action_page.php">
  	<textarea name="message" style=" width: 80%;  height:600px;">The cat was playing in the garden.</textarea>
 </div>
  <br>
  <input type="submit">
</form>

</body>
</html>
