<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">I  Infinite skate shoes shop</h1>
    <p>buy here</p>
    <button>Hire me</button>
  </div>
</div>

<p>Page Content..</p>

</body>
</html>
