<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    

        <link rel="stylesheet" href="../styles/owl.carousel.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../styles/bootstrap.min.css">
        
        <!-- Style -->
        <link rel="stylesheet" href="../styles/nav.css">

        
    </head>
    <body>


        <header class="banner" role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container">
                <a class="navbar-brand" href="index.html">Infinite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dona</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nena</a>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ajuda</a>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link" href="#">     </a>
                    </li>
                    <li class="nav-item"> 
                       <a class="nav-link" href="#"><input type="text" placeholder="Cerca.."></a>
                    </li>
                    </ul>

                                       
                </div>
                </div>
        </nav>

        
        </header>
                 <script src="/js/jquery-3.3.1.min.js"></script>
                <script src="/js/popper.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/jquery.sticky.js"></script>
                <script src="/js/main.js"></script>
    </body>
</html>