.article{
    width: 80%;
    display: flex;
     margin: 0 auto;
}
.product{
    width: 26%;
    display: block;
   
    img{
        width: 100%;
         height: auto;
    }
    
}
@media only screen (max-with: 1552px){
    .product{
        width: 30%;
        display: block;
    }
}
