.article{
    width: 80%;
    display: flex;
     margin: 0 auto;
}
.product{
    width: 26%;
    display: block;
   
    img{
        width: 100%;
         height: auto;
    }
    
}
@include media-breakpoint-up(md) {
    .product{
        width: 30%;
       
    }
}
