.article{
    width: 80%;
    display: flex;
     margin: 0 auto;
}
.product{
    width: 26%;
   
    img{
        width: 100%;
         height: auto;
    }
    
}

@media  (max-width: 736px) {
    .article{
        width: 100%;
       display: none;
        
    }
    .product{
       width: 100%;
        img{
            width: 100%;
             height: auto;
        }
        
    }
}
