---
layout: layouts/base.njk
title: Home
---
{% include "../layout/nav.njk"%}

{% include ".../layout/hero.njk"%}

{% include "../layout/article.njk"%}

{% include "../layout/article.njk"%}

{% include "../layout/article.njk"%}


{% include "../layout/footer.njk"%}